* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

/* SEARCH BAR */
.search_bar {
  height: 50px;
  width: 1080px;
  margin: 0 auto;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar label {
  padding-right: 10px;
}

#search {
  height: 25px;
  width: 50%;
}

.search_button_container{
  padding-left: 10px;
}
/* /SEARCH BAR */

/* /HEADER */

/* MAIN */
/* MOVIEBOX */
#movie_box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box_template {
  width: 30%;
  border: 1px solid #000;
  text-align: center;
}

.box_template ul {
  list-style: none;
}

.language_img {
  width: 20px;
}
/* /MOVIEBOX */
/* /MAIN */
