* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* BORDER RADIUS */
.border_radius{
  border-radius: 20px;
}
/* BACKGROUND COLOR */
.bck_black{
  background-color:#000;
}

.height_50 {
  height: 50px;
}

/* WRAPPER */
.wrapper {
  width: 1080px;
  margin: 0 auto;
  box-shadow: -2px -5px 13px 6px #777;
}

/* SHOW HIDE */
.show {
  display: block;
}

.hide {
  display: none;
}

/* HEADER */

/* SEARCH BAR */
.search_bar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
}
.boolflix_logo{
  width: 20%;
}

.boolflix_logo img{
  width: 110px;
}

.search_label {
  color: #fff;
}

#search {
  height: 25px;
  width: 50%;
}

.search_button_container{
  width: 20%;
  padding-left: 10px;
}
/* /SEARCH BAR */

/* /HEADER */

/* MAIN */
#main {
  height: calc(100vh - 100px);
  overflow-y: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.movie_container.series_container{
  width: 100%;
}

.type_of_movie{
  text-align: center;
  color: #fff;
}

/* MOVIEBOX */
#movie_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

#series_box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

/* TEMPLATE */
.box_template {
  margin-top: 30px;
  position: relative;
  width: 30%;
  text-align: center;
  box-shadow: -5px -5px 10px 2px #777;
}

.box_template ul {
  font-size: 1.3rem;
  color: #fff;
  list-style: none;
}

.poster_background img {
  object-fit: cover;
  height: 450px;
  width: 315px;
}

.list_details{
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;
}

.list_details li {
  padding: 15px 5px;
}

.language_img {
  width: 20px;
}

.movie_vote i {
  color: yellow;
}

.movie_overview {
  height: calc(100% - 60%);
  height: 165px;
  overflow-y: auto;
}
/* /TEMPLATE */
/* /MOVIEBOX */
/* /MAIN */
