* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* BORDER RADIUS */
.border_radius{
  border-radius: 20px;
}
/* BACKGROUND COLOR */
.bck_black{
  background-color:#000;
}

/* WRAPPER */
.wrapper {
  width: 1080px;
  margin: 0 auto;
  box-shadow: -2px -5px 13px 6px #777;
}

/* HEADER */

/* SEARCH BAR */
.search_bar {
  height: 50px;
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.search_bar label {
  padding-right: 10px;
}

#search {
  height: 25px;
  width: 50%;
}

.search_button_container{
  padding-left: 10px;
}
/* /SEARCH BAR */

/* /HEADER */

/* MAIN */
#main {
  height: calc(100vh - 90px);
  overflow-y: scroll;
  margin-top: 40px;
}
.movie_container{
  width: 100%;
}
.series_container{
  width: 100%;
}
/* MOVIEBOX */
#movie_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#series_box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* TEMPLATE */
.box_template {
  margin-top: 30px;
  position: relative;
  width: 30%;
  text-align: center;
  box-shadow: -5px -5px 10px 2px #777;
}

.box_template ul {
  color: #fff;
  list-style: none;
}

.poster_background img {
  object-fit: cover;
  height: 450px;
  width: 315px;
}

.list_details{
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;
}

.language_img {
  width: 20px;
}
/* /TEMPLATE */
/* /MOVIEBOX */
/* /MAIN */
